body {
  margin: 0;
  padding: 0;
  background: #1c1c1c;
  font-family: 'Inter';
  font-style: normal;
}
.container {
  position: absolute;
  width: 550px;
  height: 719px;
  left: 300px;
  top: 83px;
  background: #1F2937;
}
.header {
position: absolute;
width: 550px;
height: 190px;
left: 0px;
top: 0px;

background: #3A69D2;
}
.header h1 {
    /* Heading */
position: absolute;
width: 354px;
height: 40px;
left: 98px;
top: 59px;

font-weight: 800;
font-size: 40px;
line-height: 40px;
/* identical to box height, or 100% */

text-align: center;
letter-spacing: -0.02em;

color: #FFFFFF;
}
.header p {
    /* Supporting text */
position: absolute;
width: 408px;
height: 31px;
left: 71px;
top: 108px;

font-weight: 400;
font-size: 16px;
line-height: 28px;
/* or 175% */

text-align: center;

color: #FFFFFF;
}
.serviceBtn {
    /* Button */
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 9px 13px;

position: absolute;
width: 143.17px;
height: 45px;
left: 38px;
top: 231px;

background: #D1D4F4;
border-radius: 7px;
border: none;
}
.tableHead {
  display: flex;
  justify-content: space-between;
}
#task {
position: absolute;
width: 95px;
height: 22px;
left: 39px;
top: 319px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 20px;
/* or 167% */
color: #D5D4D8;
}
#total {
position: absolute;
width: 78px;
height: 22px;
left: 432px;
top: 323px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 20px;
/* or 167% */
text-align: right;
color: #D5D4D8;
}
hr {
position: absolute;
width: 471px;
height: 0px;
left: 39px;
top: 498px;
border: 1px solid #C3C6DB;
}
#tasks {
display: flex;
justify-content: space-between;
}
#task-name {
position: absolute;
width: 97px;
height: 21px;
left: 39px;
top: 350px;
font-weight: 700;
font-size: 20px;
line-height: 20px;
/* or 100% */
color: #F5F5F5;
}
#task-price {
position: absolute;
width: 71px;
height: 21px;
left: 441px;
top: 350px;
font-weight: 300;
font-size: 24px;
line-height: 20px;
/* or 83% */
text-align: right;
color: #918E9B;
}
.footer-hed {
display: flex;
justify-content: space-between;
}
#footer-note {
position: absolute;
width: 105px;
height: 28px;
left: 39px;
top: 509px;
font-weight: 600;
font-size: 12px;
line-height: 32px;
/* or 267% */
color: #D5D4D8;
}
#footer-total {
position: absolute;
width: 105px;
height: 28px;
left: 405px;
top: 509px;
font-weight: 600;
font-size: 12px;
line-height: 32px;
/* or 267% */
text-align: right;
color: #D5D4D8;
}
.foot-result {
display: flex;
justify-content: space-between;
}
#foot-note {
position: absolute;
width: 218px;
height: 15px;
left: 39px;
top: 550px;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height, or 125% */
color: #F5F5F5;
}
#foot-total {
position: absolute;
width: 105px;
height: 28px;
left: 405px;
top: 520px;
font-weight: 600;
font-size: 36px;
line-height: 32px;
/* or 89% */
text-align: right;
color: #F5F5F5;
}
.footer-btn {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 9px 17px 9px 15px;
gap: 12px;

position: absolute;
width: 473px;
height: 44px;
left: 38px;
top: 626px;
background: #3A69D2;
/* shadow/sm */
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 7px;
border: none;
}
.footer-btn::before{
  content: url("mail.svg");
  width: 18px;
  float: left;
  position: absolute;
  left: 35%;
  right: 15%;
  top: 22%;
}